{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "main"}}
<div class="snippet">
	{{ with.Snippet }}
	<div class="metadata">
		<strong>{{.Title}}</strong>
		<span>#{{.ID}}</span>
	</div>
	<pre><code>{{.ContentHTML}}</code></pre>
	<div class="metadata">
		<time>Created: {{humanDate .CreatedAt}}</time>
		<time>Expires: {{humanDate .ExpiresAt}}</time>
	</div>
	{{ end }}
</div>
{{ end }}