{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "main"}}
<div class="snippet">
	{{ with.Snippet }}
	<div class="metadata">
		<strong>{{.Title}}</strong>
		<span>#{{.ID}}</span>
	</div>
	<pre><code>{{.Content | replaceNewLine}}</code></pre>
	<div class="metadata">
		<time>Created: {{.CreatedAt | humanDate}}</time>
		<time>Expires: {{.ExpiresAt | humanDate}}</time>
	</div>
	{{ end }}
</div>
{{ end }}